<!DOCTYPE html>
<html>
<head>

<style>
	a {
	  text-shadow: 1px 1px 5px powderblue;
	  text-decoration:none;
	}
</style>

</head>
<body>
<h3>Xurmatli foydalanuvchi {{user_name}} !</h3>
<p>Siz quyidagi berilgan havola orqali yangi parol tanlashingiz mumkin bo'ladi !  </p>
<br>
	<a href="http://127.0.0.1:8800/reset/{{user_name_code}}"  style="border:1px solid success;padding:4px;border-radius:3px;border:1px dotted powderblue;padding:5px;background-color:lightgreen;font-size:20px">Parolni tiklash havolasi !</a>
</body>
</html>
<!--http://127.0.0.1:8100/-->
