<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="bg-secondary">

<div class="container mt-5">

		<div class="container" style="background-color:#f3f9fd;padding:50px;border-radius:5px;background-color:#f3f9fd;width:50%">
			<h2 class="text text-center" style="background-color:powderblue;"> Yangi parol yaratish oynasi </h2>
			<br>
			  <form class="needs-validation" novalidate action="{% url 'password_change' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-group">
<!--				  <label for="uname">Username:</label>-->
				  <input type="password" class="form-control"  placeholder="Yangi parolni kiriting" id="password" name="password" required>
				  <div class="valid-feedback">Yaroqli.</div>
				  <div class="invalid-feedback">Iltimos maydonni to'ldiring!</div>
				</div>
				<div class="form-group">
<!--				  <label for="pwd">Password:</label>-->
				  <input type="password" class="form-control"  placeholder="Yangi parolni qayta kiriting" id="re_password" name="re_password" required>
				  <div class="valid-feedback">Yaroqli.</div>
				  <div class="invalid-feedback">Iltimos maydonni to'ldiring!</div>
					<span style="opacity:0.5;font-size:14px;display:none;color:red" id="not_equal"><b class="text text-danger">*</b> Siz qayta kiritgan parol bir xil emas !</span>
					<span style="opacity:0.5;font-size:14px;display:none;color:green" id="equal"><b class="text text-danger">*</b> Siz qayta kiritgan parol bir xil !</span>
				</div>
				  <input type="text" id="user_name" name="user_name" value="{{user_name}}" style="display:none">
				<button type="submit" class="btn btn-success">Yaratish</button>
			  </form>
		</div>
</div>

<script>
// Disable form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

<script>
	$("#re_password").keyup(function(){
  if( $('#password').val() !=  $('#re_password').val()){
		$('#not_equal').css("display", "inline-block");
	}
	else{
		$('#not_equal').css("display", "none");
		$('#equal').css("display", "inline-block");
	}
});
</script>

</body>
</html>
